h1{
    font-family:arial;
    color:black;
    text-align: center;
}
h2{
    font-family:arial;
    color:black;
    text-align: center;
}
body{
background-color: white;
border: 2px solid black;
padding-top:120px;
padding-left:150px;
padding-right:150px;

margin: auto;
}
nav{
    text-align: center;
    
}
p{
    color:black;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:inherit;
    padding:25px;
}
li{
    display:inline;
    color:black;
    font:30px Monospace;
}
a{
    text-decoration: none;
}
div{
margin:auto;
}
.border{
    border: 2px solid black;
    border-top-width:20px;
}
li.news{
    display:list-item !important;
    font-size:18px !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    padding:10px;
    text-align:left;

}

a:visited{
    color:inherit;
}
li.hover:hover{
    color: black;
    transition:color .15s ease-in-out, box-shadow .6s ease-in-out;
    box-shadow: inset 200px 0 0 0 #aaffe7;
    color:black;
}
.content{
    border: 3px solid black;
    height:fit-content;
    width:600px;
    text-align: center;
}
table,th,td{
    border:1px solid;
    text-align:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
